{
  "extends": ["airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "@typescript-eslint/no-use-before-define": ["error", { "variables": false }],
    "react-hooks/exhaustive-deps": ["warn"]
  }
}
